@model IEnumerable<SportsApplication.Models.User>
@{
    ViewData["Title"] = "AddAthlete";
}

<div class="jumbotron" style="margin-top: 3%;">
    <h2>Athlete Add Page</h2>
    <form asp-action="AddAthleteAsync">
        <label>Name</label>
        <select id="Name" name="Name" class="form-control">
            @foreach (User user in Model)
            {
                <option>@user.Name</option>
            }
        </select>
        <div class="form-group">
            <label>Distance</label>
            <input class="form-control" id="Distance" name="Distance" autocomplete="off" />
        </div>

        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>

